In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import re
import urllib
from urllib.request import Request, urlopen
import json
from wordcloud import WordCloud
from bs4 import BeautifulSoup
from PIL import Image
import datetime

In [13]:
liar = pd.read_csv('politifact_save.csv', delimiter=',',encoding='utf-8',parse_dates = [0])
liar['Date'] = liar['Date'].dt.to_period('M')
#liar = liar[["Date", "Label"]]

In [14]:
liar.head()

        Date        Label PoliticalParty
0 2018-12-01         True     Republican
1 2018-12-09    Half True           None
2 2018-12-08         True       Democrat
3 2018-12-09  Mostly True           None
4 2018-11-27    Half True       Democrat

In [15]:
liar.Label.unique()

array(['True', 'Half True', 'Mostly True', 'Full Flop', 'Mostly False',
       'False', 'Pants on Fire', 'Half Flip', 'No Flip'], dtype=object)

In [22]:

test = liar.groupby(['Date','Label']).count()
test = test.unstack('Label')
test = test.fillna(0)
test = test[[('PoliticalParty', 'Full Flop'),('PoliticalParty', 'Half Flip'),('PoliticalParty', 'No Flip'),('PoliticalParty', 'Pants on Fire'),('PoliticalParty', 'False'),('PoliticalParty', 'Mostly False'),('PoliticalParty', 'Mostly True'),('PoliticalParty', 'True')]]
test = test[datetime.datetime(2015, 1, 1):]
test = test.div(test.sum(axis = 1),axis = 'index')
#test['False'] = test[[('ID', 'pants-fire'),('ID', 'false'),('ID', 'barely-true')]].sum(axis = 1)
test

           PoliticalParty                                            \
Label           Full Flop Half Flip No Flip Pants on Fire     False
Date
2015-02-01            NaN       NaN     NaN           NaN       NaN
2015-02-09            NaN       NaN     NaN           NaN       NaN
2015-02-16           0.00       0.0     0.0      1.000000  0.000000
2015-03-09           0.00       0.0     0.0      0.000000  1.000000
2015-03-10            NaN       NaN     NaN           NaN       NaN
2015-03-15           0.00       0.0     0.0      1.000000  0.000000
2015-03-16           0.00       0.0     0.0      0.000000  0.000000
2015-03-25           0.00       0.0     0.0      0.000000  0.000000
2015-03-27           0.00       0.0     0.0      0.000000  0.000000
2015-03-29           0.00       0.0     0.0      0.000000  0.000000
2015-03-31           0.00       0.0     0.0      0.000000  0.000000
2015-04-06           0.00       0.0     0.0      0.000000  0.000000
2015-04-07           0.00       0.0     0.0      1.000000  0.000000
2015-04-10           0.00       0.0     0.0      0.000000  0.000000
2015-04-13           0.00       0.0     0.0      0.000000  0.000000
2015-04-15           0.00       0.0     0.0      0.000000  0.000000
2015-04-16           0.00       0.0     0.0      0.000000  0.500000
2015-04-17           0.00       0.0     0.0      0.000000  0.000000
2015-04-21           0.00       0.0     0.0      0.000000  0.000000
2015-04-22           0.00       0.0     0.0      0.000000  1.000000
2015-04-23           0.00       0.0     0.0      0.000000  0.000000
2015-04-24           0.00       0.0     0.0      0.000000  0.000000
2015-04-25           0.25       0.0     0.0      0.000000  0.750000
2015-04-26           0.00       0.0     0.0      0.333333  0.000000
2015-04-27           0.00       0.0     0.0      0.000000  0.000000
2015-04-28           0.00       0.0     0.0      0.000000  0.000000
2015-04-29           0.00       0.0     0.0      0.000000  1.000000
2015-04-30           0.00       0.0     0.0      0.000000  0.000000
2015-05-01           0.00       0.0     0.0      0.000000  0.200000
2015-05-02           0.00       0.0     0.0      1.000000  0.000000
...                   ...       ...     ...           ...       ...
2018-11-06           0.00       0.0     0.0      0.500000  0.250000
2018-11-07           0.00       0.0     0.0      0.000000  0.600000
2018-11-08           0.00       0.0     0.0      0.000000  0.000000
2018-11-09           0.00       0.0     0.0      0.666667  0.000000
2018-11-10           0.00       0.0     0.0      0.000000  1.000000
2018-11-11           0.00       0.0     0.0      0.000000  0.000000
2018-11-12           0.00       0.0     0.0      0.000000  0.666667
2018-11-13           0.00       0.0     0.0      0.000000  1.000000
2018-11-14           0.00       0.0     0.0      1.000000  0.000000
2018-11-15           0.00       0.0     0.0      0.250000  0.000000
2018-11-16           0.00       0.0     0.0      0.000000  0.500000
2018-11-17            NaN       NaN     NaN           NaN       NaN
2018-11-18           0.00       0.0     0.0      0.000000  0.000000
2018-11-19           0.00       0.0     0.0      0.000000  0.250000
2018-11-21            NaN       NaN     NaN           NaN       NaN
2018-11-22           0.00       0.0     0.0      0.000000  0.000000
2018-11-23           0.00       0.0     0.0      1.000000  0.000000
2018-11-25           0.00       0.0     0.0      0.000000  0.750000
2018-11-26           0.00       0.0     0.0      1.000000  0.000000
2018-11-27           0.00       0.0     0.0      0.000000  0.000000
2018-11-28           0.00       0.0     0.0      0.000000  0.000000
2018-11-29           0.00       0.0     0.0      0.000000  0.250000
2018-12-01           0.00       0.0     0.0      0.000000  0.000000
2018-12-02           0.00       0.0     0.0      0.000000  0.500000
2018-12-03           0.50       0.0     0.0      0.000000  0.000000
2018-12-04           0.00       0.0     0.0      0.000000  1.000000
2018-12-05           0.00       0.0     0.0      0.000000  0.000000
2018-12-07           0.00       0.0     0.0      0.000000  0.000000
2018-12-08           0.00       0.0     0.0      0.000000  0.000000
2018-12-09           0.00       0.0     0.0      0.000000  0.000000


Label      Mostly False Mostly True      True
Date
2015-02-01          NaN         NaN       NaN
2015-02-09          NaN         NaN       NaN
2015-02-16     0.000000    0.000000  0.000000
2015-03-09     0.000000    0.000000  0.000000
2015-03-10          NaN         NaN       NaN
2015-03-15     0.000000    0.000000  0.000000
2015-03-16     1.000000    0.000000  0.000000
2015-03-25     1.000000    0.000000  0.000000
2015-03-27     1.000000    0.000000  0.000000
2015-03-29     0.000000    1.000000  0.000000
2015-03-31     0.000000    0.500000  0.500000
2015-04-06     1.000000    0.000000  0.000000
2015-04-07     0.000000    0.000000  0.000000
2015-04-10     0.000000    0.000000  1.000000
2015-04-13     0.000000    0.000000  1.000000
2015-04-15     0.000000    1.000000  0.000000
2015-04-16     0.000000    0.500000  0.000000
2015-04-17     1.000000    0.000000  0.000000
2015-04-21     0.000000    0.000000  1.000000
2015-04-22     0.000000    0.000000  0.000000
2015-04-23     0.500000    0.000000  0.500000
2015-04-24     0.000000    0.000000  1.000000
2015-04-25     0.000000    0.000000  0.000000
2015-04-26     0.666667    0.000000  0.000000
2015-04-27     1.000000    0.000000  0.000000
2015-04-28     0.500000    0.500000  0.000000
2015-04-29     0.000000    0.000000  0.000000
2015-04-30     0.333333    0.666667  0.000000
2015-05-01     0.200000    0.400000  0.200000
2015-05-02     0.000000    0.000000  0.000000
...                 ...         ...       ...
2018-11-06     0.000000    0.250000  0.000000
2018-11-07     0.200000    0.200000  0.000000
2018-11-08     0.000000    0.500000  0.500000
2018-11-09     0.000000    0.000000  0.333333
2018-11-10     0.000000    0.000000  0.000000
2018-11-11     1.000000    0.000000  0.000000
2018-11-12     0.000000    0.333333  0.000000
2018-11-13     0.000000    0.000000  0.000000
2018-11-14     0.000000    0.000000  0.000000
2018-11-15     0.500000    0.000000  0.250000
2018-11-16     0.500000    0.000000  0.000000
2018-11-17          NaN         NaN       NaN
2018-11-18     0.000000    1.000000  0.000000
2018-11-19     0.500000    0.000000  0.250000
2018-11-21          NaN         NaN       NaN
2018-11-22     1.000000    0.000000  0.000000
2018-11-23     0.000000    0.000000  0.000000
2018-11-25     0.250000    0.000000  0.000000
2018-11-26     0.000000    0.000000  0.000000
2018-11-27     0.000000    0.500000  0.500000
2018-11-28     0.000000    1.000000  0.000000
2018-11-29     0.250000    0.500000  0.000000
2018-12-01     0.000000    0.000000  1.000000
2018-12-02     0.500000    0.000000  0.000000
2018-12-03     0.000000    0.250000  0.250000
2018-12-04     0.000000    0.000000  0.000000
2018-12-05     1.000000    0.000000  0.000000
2018-12-07     0.000000    1.000000  0.000000
2018-12-08     0.000000    0.000000  1.000000
2018-12-09     0.000000    1.000000  0.000000

[1238 rows x 8 columns]